{% for student in students %}

    {% if show_classes %}
        {% if not loop.previtem or loop.previtem.class_name != student.class_name %}
            {% if loop.previtem %}
                </div>
            {% endif %}
            <h2 class="line-centered faint">{{student.class_name or "No class"}}</h2>
            <div class="people">
        {% endif %}
    {% else %}
        {% if not loop.previtem  %}
            <div class="people">
        {% endif %}
    {% endif %}
    
    <a class="person {{'online' if student.online else 'away' if student.online==False else ''}}" href="{{ url_for('user_profile', short_name=student.short_name) }}" style="view-transition-name: person-{{student.short_name}}; background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0)), url({{student.avatar}})">
        <h3>
            {{student.short_name}}
        </h3>
        {% if student.tags %}
            <div class="tags">
                {% for tag in student.tags %}
                    {% if tag.split(':')[1][0] == "*" %}
                        <div class="tag is-{{tag.split(':')[1][1:]}} blink">{{tag.split(':')[0]}}</div>
                    {% else %}
                        <div class="tag is-{{tag.split(':')[1]}}">{{tag.split(':')[0]}}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
	</a>

{% else %}

    <h2>Empty!</h2>
    <div>

{% endfor %}
</div>
