This is not actual HTML yet, but all texts have been provided for your convenience.

<button>Nieuws</button>
<button>Sport</button>
<button>Uitzendingen</button>

<!-- photo1.jpg -->
<h3>Man die geen vlees meer eet zit hele tijd bitterballen te bietsen</h3>
<p>De 28-jarige Koen betaalt niet mee als zijn vrienden een schaal bitterballen bestellen. Hij is namelijk sinds vorige maand gestopt met vlees eten.</p>

<!-- photo2.jpg -->
<h3>Tata Steel-topman: ‘Wij houden hele ziekenhuizen aan het werk</h3>
<p>Na verschillende rapporten die de negatieve gezondheidseffecten van Tata Steel op omwonenden aantonen, overweegt de Tweede Kamer een eventuele sluiting.</p>

<!-- photo3.jpg -->
<h3>Ook Remkes werpt blokkade op: ‘Geen zin om met wie dan ook te praten’</h3>
<p>Na diverse politieke partijen heeft nu ook de informateur een blokkade opgeworpen in het stroeve formatieproces. Johan Remkes laat weten geen zin te hebben om met wie dan ook te praten.</p>

<!-- photo4.jpg -->
<h3>Hoe executies tijdens ontgroening zorgen voor vriendschappen voor het leven</h3>
<p>Afgelopen week is er veel onrust ontstaan over de gewelddadige ontgroeningen van enkele studentenverenigingen.</p>

<!-- photo5.jpg -->
<h3>Als je na drie uur ’s nachts nog koffie drinkt verstoor je je hele nachtrust</h3>
<p>Koffieleuten opgelet: uit nieuw onderzoek blijkt dat je na 3 uur ‘s nachts geen koffie meer moet drinken - je verstoort er je hele nachtrust mee.</p>

<!-- photo6.jpg -->
<h3>Koning gaat tijdens wandeling met paard en honden op Het Loo niet in op vragen over jacht</h3>
<p>Koning Willem-Alexander wilde tijdens een wandeling op kroondomein Het Loo met paarden en bloedhonden niet ingaan op vragen over de jacht.</p>

<!-- photo7.jpg -->
<h3>Wooncrisis: kabinet komt met woningvrije zondag</h3>
<p>Vanwege de grote schaarste aan beschikbare woonruimtes last het kabinet voor onbepaalde tijd de woningvrije zondag in. Van zondagochtend 3 uur tot maandagochtend 3 uur zal het verboden zijn gebruik te maken van woonruimtes. De politie zal streng handhaven op woninggebruikers.</p>

<!-- photo8.jpg -->
<h3>Ophef over nieuwe studenten die in tenten moeten slapen: ‘Lijkt verdacht veel op festival’</h3>
<p>Door het aanhoudende woningtekort voor uitwisselings- en eerstejaarsstudenten, zijn veel van hen genoodzaakt in tenten te slapen. Online wordt er met verbazing op gereageerd: “Dit is toch gewoon een festival?”</p>

<!-- photo9.jpg -->
<h3>Groenteboer die koolraap voor 12 euro verkoopt: ‘Onze prijzen zijn marqtconform’</h3>
<p>Het is even slikken voor sommige klanten van groenteboer Dick van Hessen: de prijzen voor zijn waren zijn deze week met gemiddeld 2000 procent verhoogd.</p>

<!-- photo10.jpg -->
<h3>IJmuiden wordt zusterstad van Tsjernobyl</h3>
<p>Burgemeester Frank Dales van IJmuiden vertelt verheugd dat zijn stad een nieuwe zusterstad heeft.</p>
